/* Page layout */
#screen-design  .left,
#screen-content .left {
	border: 0px solid #000;
	width: 200px;
	background: #fff;
	box-sizing: border-box;
}

/* Page layout */
#screen-design  .right,
#screen-content .right {
	border: 0px solid #000;
	width: calc( 100% - 215px );
	box-sizing: border-box;
	position: relative;
}

/* The heading, "Category filter" */
.category-filter,
.coin-filter,
.page-set-filter {
	background: #e6e6e6;
	padding: 3px 0px 3px 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.coin-option,
.pageset-option,
.sub-category {
	cursor: pointer;
}

/* Radio Buttons */
input[type="radio"][name="pageset"],
input[type="radio"][name="coin-budget"],
input[type="radio"][name="sub-category"] {
	visibility: hidden;
}
.coin-option,
.pageset-option,
.sub-category {
	padding: .5em 0;
	-webkit-transition: background-color .3s linear, color .3s linear;
	-moz-transition: background-color .3s linear, color .3s linear;
	-o-transition: background-color .3s linear, color .3s linear;
	-ms-transition: background-color .3s linear, color .3s linear;
	transition: background-color .3s linear, color .3s linear;
}

/* Theme name */
.theme-name,
#theme-title {
	text-transform: capitalize;
}

#theme-title {
	font-weight: bold;
	font-size: 14px;
}

/* Sub category name */
.theme-name .sub-category-name,
.summary-subheading {
	color: #aaa;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

/* Theme screenshot hover / focus */
.theme-browser.rendered .theme:hover .theme-screenshot img,
.theme-browser.rendered .theme:focus .theme-screenshot img {
	/* Override WordPress style and keep opacity at 1.0 instead of 0.4 */
	opacity: 1.0 !important;
}

/* Theme */
.theme {
	-webkit-transition-property:		-webkit-box-shadow;
	-webkit-transition-duration:		.05s;
	-webkit-transition-timing-function:	ease-in-out;
	transition-property:		box-shadow;
	transition-duration:		.05s;
	transition-timing-function:	ease-in-out;
}

/* Theme hover */
.theme:hover {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 141, 194, 1.0);
	-moz-box-shadow:    0px 0px 7px 0px rgba(0, 141, 194, 1.0);
	box-shadow:         0px 0px 7px 0px rgba(0, 141, 194, 1.0);
}

iframe#theme-preview {
	width: 100%;
	height: 800px;
	border: 1px #e6e6e6 solid;
}

.info-icon:before {
	content: "\f223";
	font: normal 16px/1 dashicons;
}

.top-menu {
	background: #ccc;
	margin: -10px -20px 30px -22px;
	padding-left: 22px;
}

.top-menu a {
	padding: 15px 30px;
	display: inline-block;
	cursor: pointer;
	color: #6b747b;
}

.top-menu .active {
	background: #f1f1f1;
	color: #fa5a26;
}

a.disabled {
	cursor: not-allowed;
}

.boldgrid-loading {
	position: absolute;
	top: 69px;
	left: 0px;
	right: 0px;
	background-color: #f1f1f1;
}

.theme-screenshot .img {
	width: 290px;
	height: 217px;
	/* 194 */
}

.pageset-option.active,
.coin-option.active,
.sub-category.active,
.blue {
	background-color: #00a1d0;
	color: white;
}

/* Back/Install Buttons */
.inspirations.button {
	padding: 0 3em;
	margin-top: .5em;
}

/* Device/preview size toggles */
.devices {
	margin-left: 2.5em;
}

.devices button {
	display: inline-flex;
	cursor: pointer;
	background: transparent;
	border: none;
	height: 45px;
	padding: 0 3px;
	margin: 0 0 0 -4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid transparent;
	border-bottom: 4px solid transparent;
	-webkit-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

.devices button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.devices button:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/30px "dashicons";
	vertical-align: top;
	margin: 3px 0;
	padding: 4px 8px;
	color: #656a6f;
}

.devices button.active {
	border-bottom-color: #191e23;
}

.devices button:focus {
	border-bottom-color: #0073aa;
}

.devices button.active:before,
.devices button:hover:before,
.devices button:focus:before {
	color: #191e23;
}

.devices .preview-desktop:before {
	content: "\f472";
}

.devices .preview-tablet:before {
	content: "\f471";
}

.devices .preview-mobile:before {
	content: "\f470";
}

@media screen and (max-width:1024px) {
	.devices {
		display: none;
	}
}

.collapsed .wp-full-overlay-footer .devices button:before {
	display: none;
}

.preview-mobile .wp-full-overlay-main {
	margin: auto 0 auto -160px;
	width: 320px;
	height: 480px;
	max-height: 100%;
	max-width: 100%;
	left: 50%;
}

.preview-tablet .wp-full-overlay-main {
	margin: auto 0 auto -360px;
	width: 720px; /* Size is loosely based on a typical "tablet" device size. Intentionally ambiguous - this does not represent any particular device precisely. */
	height: 1080px;
	max-height: 100%;
	max-width: 100%;
	left: 50%;
}
