.welcome-panel-column-container, .welcome-panel-task-content {
    display: none;
}
.wp-news {
    width:49.5%;
    float:right;
}
.imhwpb-feed {
    width:49.5%;
    float:left;
}
.welcome-panel-column-container .content-column {

    width:49.5%
}
.welcome-panel-column-container .link-column {
    float:right;
    padding-left:10%;
}
