/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.1 Back End

1.0 Front End
    1.1 Typography
    1.2 Adminbar
    1.3 Steps
    1.4 Preview
    1.5 Buttons
    1.6 Content
    1.7 Inspirations - Add new pages

--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.1 Back End
--------------------------------------------------------------*/
div.sub_categories {
	padding: 0px 0px 0px 40px;
}

div.sub_categories ul {
	margin: 8px 0px;
}

div.available_theme_waiting {
	/* background: #ddd; */
	/* border: 1px dashed #000; */
	
}

/*
div.available_theme h2.title {
	color: #6f7887;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}
*/
div.imhwpb-step iframe {
	width: 100%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

div#preview {
	position: relative;
}

div#preview h2 {
	color: #6f7887;
	font-weight: bold;
}

/*
div#preview_div {
	position: relative;
}
*/
div#preview_div_message {
	background: #fff;
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 50px;
	line-height: 60px;
	z-index: 5000;
}

.ui-autocomplete .highlight {
	text-decoration: underline;
	background-color: transparent;
}

/* -------------------------------------------------------------
Step 2 nav bar
------------------------------------------------------------- */
#step-2 .wp-filter {
	margin-bottom: 30px;
}

span.category-name, a.coin_budget {
	font-style: italic;
}

ul.filter-links.category {
	margin-right: 25px;
}

li.category-label {
	margin-right: 5px;
}

li.coin-budget-label {
	font-weight: bold;
}

li.category-label:before {
	content: "\f322";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 17px/1 'dashicons';
	vertical-align: top;
	margin-right: 5px;
	color: #a8a8a8;
}

/* -------------------------------------------------------------
Step 2 "Load more"
------------------------------------------------------------- */
#step-2-additional-themes-message {
	margin-bottom: 35px;
	clear: both;
}

/* -------------------------------------------------------------
Step 3 Page set listing
------------------------------------------------------------- */
#choose_page_set .row {
	margin-top: 44px;
}

ul.page-sets {
	list-style-type: none;
	margin-bottom: 0px;
}

ul.page-sets li div:first-child {
	font-weight: bold;
	margin-bottom: 10px;
}

ul.page-sets li {
	margin-bottom: 25px;
}

ul.page-sets li:last-child {
	margin-bottom: 0px;
}

#choose_page_set .plugin-card h3:first-of-type {
	margin-top: 0px;
}

.step-3-theme-coins {
	position: absolute;
	top: -21px;
}

/*--------------------------------------------------------------
1.0 Front End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.1 Typography
--------------------------------------------------------------*/
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(//fonts.gstatic.com/s/lato/v10/9k-RPmcnxYEPm8CNFsH2gg.woff)
		format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'),
		url(//fonts.gstatic.com/s/lato/v10/wkfQbvfT_02e2IWO3yYueQ.woff)
		format('woff');
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato';
	font-weight: 700;
}

h1 {
	font-family: 'Lato';
	font-size: 22px;
	font-weight: 400;
}

h2 {
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 400;
}

p {
	font-size: 15px;
	line-height: 1.5;
	margin: 1em 0 2em;
}

/*--------------------------------------------------------------
1.2 Adminbar
--------------------------------------------------------------*/
#wp-admin-bar-comments, #wp-admin-bar-new-content {
	display: none;
}

#adminmenu div.wp-menu-name {
	font-size: 14px;
}

#collapse-menu {
	display: none;
}

/*
 * #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
	#adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top,
	#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top,
	.folded #adminmenu li.wp-has-current-submenu {
	background: #c42228;
	color: #fff;
}
*/

/*--------------------------------------------------------------
1.3 Steps
--------------------------------------------------------------*/
div#button_navigation {
	background: #f1f2ed; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f2ed 36%, #e0e1db 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #f1f2ed),
		color-stop(100%, #e0e1db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f2ed 36%, #e0e1db 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f2ed 36%, #e0e1db 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f2ed 36%, #e0e1db 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f1f2ed 36%, #e0e1db 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2ed',
		endColorstr='#e0e1db', GradientType=0); /* IE6-9 */
	display: inline;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 3px 3px 12px #ccc;
	padding: 15px 0;
}

div#button_navigation button {
	border: none;
	color: #000;
	cursor: pointer;
	height: 50px;
	margin: 25px 0;
	width: 318px;
}

/* //// do we still need this, the "selected " class? It's in a few places */
div#button_navigation button#nav-step-1.selected, div#button_navigation button#nav-step-1:hover
	{
	font-family: 'Lato';
	font-size: 16px;
	background: url(../images/steps-arrow.png) 295px 2px no-repeat,
		url(../images/step1-active.png) 10px 8px no-repeat;
	/* On top,    like z-index: 4; */
	padding-left: 50px;
	text-align: left;
}

div#button_navigation button#nav-step-2.selected, div#button_navigation button#nav-step-2:hover
	{
	font-family: 'Lato';
	font-size: 16px;
	background: url(../images/steps-arrow.png) 295px 2px no-repeat,
		url(../images/step2-active.png) 10px 8px no-repeat;
	/* On top,    like z-index: 4; */
	padding-left: 50px;
	text-align: left;
}

div#button_navigation button#nav-step-3.selected, div#button_navigation button#nav-step-3:hover
	{
	font-family: 'Lato';
	font-size: 16px;
	background: url(../images/step3-active.png) 10px 8px no-repeat;
	/* On top,    like z-index: 4; */
	padding-left: 50px;
	text-align: left;
}

div#button_navigation button#nav-step-1 {
	font-family: 'Lato';
	font-size: 16px;
	background: url(../images/steps-arrow.png) 295px 2px no-repeat,
		url(../images/step1-inactive.png) 10px 8px no-repeat;
	/* On top,    like z-index: 4; */
	padding-left: 50px;
	text-align: left;
}

div#button_navigation button#nav-step-2 {
	font-family: 'Lato';
	font-size: 16px;
	background: url(../images/steps-arrow.png) 295px 2px no-repeat,
		url(../images/step2-inactive.png) 10px 8px no-repeat;
	/* On top,    like z-index: 4; */
	padding-left: 50px;
	text-align: left;
}

div#button_navigation button#nav-step-3 {
	font-family: 'Lato';
	font-size: 16px;
	background: url(../images/step3-inactive.png) 10px 8px no-repeat;
	/* On top,    like z-index: 4; */
	padding-left: 50px;
	text-align: left;
}

div#button_navigation button#gears {
	font-family: 'Lato';
	font-size: 16px;
	background: url(../images/steps-arrow.png) 50px 8px no-repeat,
		url(../images/steps-gear.png) 15px 20px no-repeat;
	/* On top,    like z-index: 4; */
	text-align: left;
	width: 70px;
	border: none;
	color: #000;
	cursor: auto;
	height: 62px;
	text-indent: -9999px;
}

div.budgets div {
	display: inline-block;
	margin-right: 20px;
	line-height: 22px;
}

@media screen and (max-width: 782px) {
	div.budgets div {
		line-height: 29px;
	}
}

/*--------------------------------------------------------------
1.4 Preview
--------------------------------------------------------------*/
#preview_div, #preview_iframe {
	transition: all .5s;
}

/* Monitor */
#TB_ajaxContent button#monitor {
	background: url(../images/monitor-inactive.png) no-repeat;
	border: none;
	padding: 10px;
	width: 55px;
	text-indent: -9999px;
}

#TB_ajaxContent button#monitor.selected, #TB_ajaxContent button#monitor:hover,
	#TB_ajaxContent button#monitor:active {
	background: url(../images/monitor-active.png) no-repeat;
	border: none;
	text-indent: -9999px;
}

/* Tablet */
#TB_ajaxContent button#tablet {
	background: url(../images/tablet-inactive.png) no-repeat;
	border: none;
	padding: 7px;
	width: 55px;
	text-indent: -9999px;
}

#TB_ajaxContent button#tablet.selected, #TB_ajaxContent button#tablet:hover,
	#TB_ajaxContent button#tablet:active {
	background: url(../images/tablet-active.png) no-repeat;
	border: none;
	text-indent: -9999px;
}

/* Phone */
#TB_ajaxContent button#phone {
	background: url(../images/mobile-inactive.png) no-repeat;
	border: none;
	padding: 10px;
	width: 55px;
	text-indent: -9999px;
}

#TB_ajaxContent button#phone.selected, #TB_ajaxContent button#phone:hover,
	#TB_ajaxContent button#phone:active {
	background: url(../images/mobile-active.png) no-repeat;
	border: none;
	text-indent: -9999px;
}

/* Coins */
div#TB_ajaxContent div.coins {
	width: 40%;
	background: #fff;
	padding: 0px 0px 0px 15px;
	position: absolute;
	top: 30px;
	right: 15px;
}

/*
.device-view {
	float: left;
}
*/

/*
div#preview_div {
	margin-top: 50px;
}
*/

/*
h2#preview_theme_name {
	font-size: 30px;
	margin-left: 2px;
	margin-top: 5px;
}
*/

/*--------------------------------------------------------------
1.5 Buttons
--------------------------------------------------------------*/
/*
#TB_ajaxContent button {
	background: #c42228;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	border-bottom: 4px solid #83171b;
}
*/

/*
#TB_ajaxContent button:hover, #TB_ajaxContent button:active {
	background: #e72837;
}
*/

/*
button.preview-button {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url(../images/preview-eye.png)
		12px 12px no-repeat #c42228;
	border-color: #83171b;
	border-image: none;
	border-radius: 4px;
	border-style: none none solid;
	border-width: medium medium 4px;
	color: #fff;
	cursor: pointer;
	width: 115px;
	height: 35px;
	padding: 1px 0 0 15px;
	margin: 10px 10px 0 25%;
}
*/

/*
button.select-button {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url(../images/select-thumb.png)
		12px 8px no-repeat, none repeat scroll 0 0 #c42228;
	border-color: #83171b;
	border-image: none;
	border-radius: 4px;
	border-style: none none solid;
	border-width: medium medium 4px;
	color: #fff;
	cursor: pointer;
	width: 115px;
	height: 35px;
	padding: 1px 0 0 15px;
	margin: 10px 0 0 0;
}
*/

/*
button.preview-button:hover {
	background: url(../images/preview-eye.png)
		12px 12px no-repeat #e72837;
}
*/

/*
button.select-button:hover {
	background: url(../images/select-thumb.png)
		12px 8px no-repeat #e72837;
}
*/

/* Preview Buttons */
/*
#TB_ajaxContent button#goback {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background:
		url(../images/goback-leftarrow.png) 10px
		10px no-repeat, none repeat scroll 0 0 #c42228;
	border-color: -moz-use-text-color -moz-use-text-color #83171b;
	border-image: none;
	border-radius: 4px;
	border-style: none none solid;
	border-width: medium medium 4px;
	color: #fff;
	cursor: pointer;
	width: 115px;
	height: 35px;
	padding: 1px 0 0 15px;
	margin: 0 10px 0 0;
}
*/

/*
#TB_ajaxContent button#goback:hover, #TB_ajaxContent button.goback:active
	{
	background:
		url(../images/goback-leftarrow.png) 10px
		10px no-repeat, none repeat scroll 0 0 #e72837;
}
*/

/*
#TB_ajaxContent button#select {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url(../images/select-thumb.png)
		12px 8px no-repeat, none repeat scroll 0 0 #c42228;
	border-color: -moz-use-text-color -moz-use-text-color #83171b;
	border-image: none;
	border-radius: 4px;
	border-style: none none solid;
	border-width: medium medium 4px;
	color: #fff;
	cursor: pointer;
	width: 115px;
	height: 35px;
	padding: 1px 0 0 10px;
	margin: 0;
}
*/

/*
#TB_ajaxContent button#select:hover, #TB_ajaxContent button#select:active
	{
	background: url(../images/select-thumb.png)
		12px 8px no-repeat, none repeat scroll 0 0 #e72837;
}
*/
.previews {
	/*
	float: right;
	margin: 0 20px;
	*/
	position: absolute;
	left: 0;
	right: -.1em;
	bottom: 0;
	background: #fff;
	text-align: right;
	padding: 10px 0;
}

#preview_theme_button_set, #preview_page_set_button_set {
	margin-right: 1em;
}

/*
.steps-progress {
	float: right;
	font-family: "Lato";
	font-size: 18px;
	padding: 15px 5px;
}
*/

/*--------------------------------------------------------------
1.6 Content
--------------------------------------------------------------*/
div.imhwpb-step {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	display: none;
}

.toplevel_page_boldgrid-inspirations h2.nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
	padding: 9px 15px 0 0;
	line-height: inherit;
}

/* Search */
/*
input[type="text"]{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fff;
    border: 2px solid #949494;
    box-shadow: none;
    color: #949494;
    outline: 0 none;
    transition: border-color 0.05s ease-in-out 0s;	
	height:45px;
	width:240px;
	font-family: 'Lato';
	font-size:12px;
	padding-left:15px;	
}
*/
#searchwrapper {
	width: 310px; /*follow your image's size*/
	height: 40px; /*follow your image's size*/
	background-image: url(THE_SEARCH_BOX_IMAGE);
	background-repeat: no-repeat; /*important*/
	padding: 0px;
	margin-bottom: 45px;
	position: relative; /*important*/
}

#searchwrapper form {
	display: inline;
}

.searchbox_submit {
	background: url(../images/search-glass.png) no-repeat;
	position: absolute; /*important*/
	top: 15px;
	left: 210px;
	width: 32px;
	height: 28px;
}

/* Themes */

/* Within inspiration, undo default WP theme when hovering over a theme preview 
.theme-browser .theme .theme-actions {
	opacity: 1;
}

/* Within inspiration, undo default WP theme when hovering over a theme preview 
.theme-browser.rendered .theme:focus .theme-screenshot img,
	.theme-browser.rendered .theme:hover .theme-screenshot img {
	opacity: 1;
}
*/
div#page_set_preview div.theme-browser.rendered div.themes div.theme {
	width: 100%;
}

div#page_set_preview div.theme-browser.rendered div.themes div.theme div.theme-actions,
	div#page_set_preview div.theme-browser.rendered div.themes div.theme h3#-name.theme-name
	{
	top: 0px;
}

.imhwpb-step .sub_category:hover {
	color: #00b9eb;
}

/* wp-pointer step-2-theme-coins */
div.step-2-theme-coins {
	position: absolute;
	top: -22px;
}

#step-2-theme-coins div.wp-pointer-arrow {
	top: 15px;
}

#step-2-theme-coins {
	display: none;
	position: fixed;
	width: 320px;
	z-index: 10001;
}

#step-2-theme-coins div.wp-pointer-content p {
	margin: 0px;
}

div.available_theme {
	margin-top: 20px !important;
}

/*
div.available_theme {
	float: left;
	padding: 1%;
}
*/

/*
div.available_theme img.thumbnail {
	margin: 0;
	width: 100%;
}
*/

/*
@media ( min-width : 1200px) {
	// Medium - desktops
	div.available_theme {
		width: 30%;
	}
	div.available_theme button.preview-button {
		margin: 10px 10px 0 19%;
	}
}
*/

/* Popup */

/*
#TB_window .tb-close-icon {
	color: #f8f8f8;
}

#TB_window .tb-close-icon {
	color: #fff;
}
*/

/*
#TB_window #TB_title {
	background: #c42228;
	border: none;
	height: 30px;
}
*/
#TB_window #TB_ajaxContent {
	/*
	padding: 0 1em;
	text-align: center;
	*/
	width: auto !important;
}

#TB_window #TB_ajaxContent h1 {
	line-height: 1.25;
	margin: 25px 20px 15px 0;
}

#TB_window #TB_ajaxContent p {
	font-size: 15px;
	line-height: 1.5;
	margin: 1em 1.5em;
}

/*
#TB_ajaxContent button {
	font-size: 15px;
	margin: 10px 0 15px;
	padding: 15px 50px;
}
*/

/* Categories */

/* DEPRECATED
#imhwpb-categories {
	width: 29%;
	float: left;
}
*/

/* DEPRECATED
#category-select {
	border: 3px dashed #aaa;
	font-size: 20px;
	width: 55%;
	padding: 20px;
	float: right;
	margin: 0px 2% 0px 0px;
}
*/

/* DEPRECATED
#category-select span:before {
	content: "\f340";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 30px/1 'dashicons';
	vertical-align: middle;
	padding-right: 15px;
	color: #b43c38
}
*/

/* DEPRECATED
#category-select span {
	vertical-align: super;
	padding-left: 15px;
	font-size: 24px;
}
*/

/* DEPRECATED
span.category a:before, #category_search_results ul li:before {
	content: "\f139";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: middle;
	margin-left: -8px;
	color: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
*/

/* Point the arrow down if the category is expanded */
/* DEPRECATED
span.category a.expanded:before, #category_search_results ul li.expanded:before
	{
	content: "\f139";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: middle;
	margin-left: -8px;
	color: #000;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
*/

/* DEPRECATED
span.category, span.sub_category {
	cursor: pointer;
	font-size: 15px;
	line-height: 1.75em;
}
*/
div.step-1-header {
	margin: 15px 0px;
}

div.step-1-header h1, div.step-1-header form {
	display: inline;
}

div.step-1-header h1 {
	margin-right: 25px;
}

div#categories-left {
	float: left;
	width: 40%;
}

div#categories-right {
	float: right;
	width: 40%;
}

div.categories {
	padding-bottom: 12px;
}

div.categories.right {
	float: right;
}

span.category {
	font-weight: bold;
}

span.sub_category:hover {
	cursor: pointer;
}

/* DEPRECATED
span.sub_category a {
	text-decoration: none;
}
*/
div.sub_categories ul li {
	list-style-type: none;
	margin-left: -15px;
}

div.sub_categories ul li.selected:before {
	content: "\f147";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	color: #0074a2;
	float: left;
	margin-left: -24px;
}

/*
#imhwpb-categories span.category {
	background: url(../images/plus.png) 0px 4px
		no-repeat;
}
*/

/* DEPRECATED
#imhwpb-categories span.category a {
	text-decoration: none;
}
*/

/*
#imhwpb-categories span.category a:hover {
	background: url(../images/minus.png) 0px 4px
		no-repeat;
}
*/
#page_set_preview_image {
	float: right;
	margin-top: 15px;
	width: 100%;
}

.preview-header {
	background: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px 2.5%;
	width: 97.25%;
}

#TB_ajaxContent.TB_modal {
	/* background: url(../images/previewbg1.png) 0
		0 repeat; */
	background: #fff;
}

/*--------------------------------------------------------------
Device Previews
--------------------------------------------------------------*/
div.preview_monitor, div.preview_tablet, div.preview_phone {
	position: absolute;
	top: 130px;
}

/* Table */
iframe.preview_tablet {
	width: 782px;
	height: 584px;
	margin: 30px 0px 0px 89px;
}

div.preview_tablet {
	background: url('../images/tablet.png') no-repeat;
	width: 963px;
	height: 646px;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

/* Phone */
iframe.preview_phone {
	width: 316px;
	height: 519px;
	margin: 59px 0px 0px 10px;
}

div.preview_phone {
	background: url('../images/mobile.png') no-repeat;
	width: 335px;
	height: 649px;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

/* Monitor */
iframe.preview_monitor {
	width: 100%;
	height: 95%;
	margin: -5px 0px 0px 0px;
}

div.preview_monitor {
	background: none;
	width: 100%;
	/* height:649px; */
	left: 0px;
	bottom: 0px;
}

/* Styles used for inspiration built */
.bg-seperator {
	margin-bottom: 25px;
	margin-top: -15px;
}

.add-button {
	margin: 3px;
}

.button-controls {
	padding-right: 10px;
}

.tabs-panel {
	max-height: 465px !important;
	min-height: 200px !important;
}

a {
	cursor: pointer;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.page-selection-preview {
	float: right;
	margin: auto;
	width: 100%;
}

#step-1 .theme-browser .theme .theme-name {
	padding-bottom: 15px !important;
}

.category-selected a {
	color: black !important;
	font-weight: bold;
}

.page-selection-preview .theme-screenshot, .category-selected a, .active.theme
	{
	cursor: default !important;
}

.page_cat_divider {
	margin-bottom: 5px;
}

.bold-grid-enabled.fluid-container {
	max-width: 98%;
}

.page-selection-preview * {
	box-sizing: content-box;
}

.page-selection-preview .theme-browser .theme .theme-actions {
	opacity: 1;
}

.page-selection-preview  .theme-browser.rendered .theme:focus .theme-screenshot img,
	.page-selection-preview  .theme-browser.rendered .theme:hover .theme-screenshot img,
	.active.theme:hover  img, .active.theme:focus img {
	opacity: 1 !important;
}

.row-margin-top {
	margin-top: 25px;
}

.install-selection-buttons {
	margin-top: 10px;
}

.large-button {
	text-align: center;
	font-size: 30px !important;
	white-space: normal !important;
	height: 100% !important;
	padding: 5px 0 10px !important;
	width: 100%;
}

#boldgrid-add-pages .accordion-section-title::after {
	display: none;
}

.imhwpb-step .filter-group {
	width: 100%;
}

#choose_your_page_set .spinner.is-active,
	#base-website-selection-heading .spinner.is-active,
	#theme-selection-wrapper .spinner.is-active {
	float: none;
	width: 37px;
	height: 30px;
	margin: -2px 10px 1px;
	background-size: 27px 25px;
}

#theme-selection-wrapper .spinner.is-active {
	margin: -2px 10px -6px;
}

#stop_and_explain {
	margin-top: 35px;
}

.auto-updated-plugins li {
	font-weight: bold;
}

/*--------------------------------------------------------------
Plugin Card
--------------------------------------------------------------*/
.plugin-card-bottom .button, .plugin-card-bottom .button.button-large,
	.plugin-card-bottom .button.button-small {
	margin-bottom: 4px;
}

.plugin-card .column-compatibility, .plugin-card .column-updated {
	width: auto;
}

/*--------------------------------------------------------------
1.7 Inspirations - Add new pages
--------------------------------------------------------------*/

/* To accomodate for the "BoldGrid Pages" header, move the preview lower. */
.page-selection-and-preview>div:nth-child(2n) {
	margin-top: 42px;
}

/*--------------------------------------------------------------
Inspirations - Install New themes
--------------------------------------------------------------*/

/* The hidden class for li's is being overwritten by .filter-links li */
.wp-filter .hidden {
	display: none;
}

.wp-filter .drawer-toggle:before {
	display: none;
	color: red;
}

/* WordPress' default behavior is to remove the border from the
budgets when the filter is toggled on (ie the body has the
show-filters class). We would like this border to remain. */
body.show-filters .filter-links a.current {
	border-bottom: 4px solid #666;
}

/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/
@media only screen and (max-width: 780px) {
	.imhwpb-step .theme:focus .more-details, .imhwpb-step .theme:hover .more-details,
		.imhwpb-step .theme:not (.active ):focus
	.imhwpb-step .theme-actions, .imhwpb-step .theme:not (.active ):hover .theme-actions
		{
		display: block !important;
	}
}